<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="new variable"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="knime://LOCAL/"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="new variable (type)"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="DIRECTORY"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="new variable"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="knime://LOCAL/"/>
</config>
<config key="Variable_3">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="new variable (type)"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="DIRECTORY"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="defaultValue">
<config key="items">
<entry key="num_items" type="xint" value="1"/>
<config key="item_0">
<entry key="path" type="xstring" value="knime://LOCAL/"/>
<entry key="type" type="xstring" value="DIRECTORY"/>
</config>
</config>
</config>
<entry key="label" type="xstring" value="Label"/>
<entry key="description" type="xstring" value="Enter Description"/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="hideInDialog" type="xboolean" value="false"/>
<entry key="required" type="xboolean" value="true"/>
<entry key="parameterName" type="xstring" value="file-chooser"/>
<entry key="customCSS" type="xstring" value=""/>
<entry key="flowvariablename" type="xstring" value="new variable"/>
<entry key="selectWorkflows" type="xboolean" value="true"/>
<entry key="selectDirectories" type="xboolean" value="true"/>
<entry key="selectDataFiles" type="xboolean" value="true"/>
<entry key="outputType" type="xboolean" value="true"/>
<entry key="rootDir" type="xstring" value=""/>
<entry key="defaultMountId" type="xboolean" value="true"/>
<entry key="customMountId" type="xstring" value=""/>
<config key="types">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="multipleSelection" type="xboolean" value="true"/>
<entry key="error_message" type="xstring" value=""/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.quickform.input.filechooser.FileChooserQuickFormNodeFactory"/>
<entry key="node-name" type="xstring" value="File Chooser"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.0.v201812040932"/>
<entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.0.v201812040932"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="File Chooser"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 1, Cols: 2"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="d1da9869-4cee-4342-b1b7-f6fffc514197"/>
</config>
</config>
