<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="driver" type="xstring" value="org.postgresql.Driver"/>
<entry key="database" type="xstring" value="jdbc:postgresql://217.64.134.127:25432/postgres"/>
<entry key="user" type="xstring" value="[Workflows edited with 3.4.1, will not work in older versions]"/>
<entry key="userName" type="xstring" value="postgres"/>
<entry key="passwordEncrypted" type="xpassword" value="01F2518C609031A9D19C9F8D26111B99F348C493736E7D995B6BC67011BDDDB564"/>
<entry key="password" type="xstring" isnull="true" value=""/>
<entry key="timezone" type="xstring" value="current"/>
<entry key="validateConnection" type="xboolean" value="false"/>
<entry key="retrieveMetadataInConfigure" type="xboolean" value="true"/>
<entry key="allowSpacesInColumnNames" type="xboolean" value="true"/>
<entry key="rowIdsStartWithZero" type="xboolean" value="true"/>
<entry key="databaseIdentifier" type="xstring" value="postgresql"/>
<entry key="kerberos" type="xboolean" value="false"/>
<entry key="knimeVersion" type="xstring" value="3.6.1"/>
<config key="default-connection">
<entry key="hostname" type="xstring" value="217.64.134.127"/>
<entry key="port" type="xint" value="25432"/>
<entry key="databaseName" type="xstring" value="postgres"/>
</config>
<config key="postgresql-connection">
<entry key="useSsl" type="xboolean" value="false"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.database.connectors.postgresql.PostgreSQLConnectorNodeFactory"/>
<entry key="node-name" type="xstring" value="PostgreSQL Connector"/>
<entry key="node-bundle-name" type="xstring" value="KNIME connectors to common databases"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.connectors"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.0.v201808081048"/>
<entry key="node-feature-name" type="xstring" value="KNIME Connectors for Common Databases"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.dbdrivers.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.0.v201808081048"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="PostgreSQL Connector"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
